doctype
html
  head
    title #{title}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket_live.js")
  body
    .container-fluid
      .row.home
        .col-3.title
          h3 NEXT #4
        .col-3.color
          h3#col1
        .col-3.vin
          h3#num1
        .col-3.drive
          h3#drive1
      .row.home
        .col-3.title
          h3 NEXT #3
        .col-3.color
          h3#col2
        .col-3.vin
          h3#num2
        .col-3.drive
          h3#drive2
      .row.home
        .col-3.title
          h3 NEXT #2
        .col-3.color
          h3#col3
        .col-3.vin
          h3#num3
        .col-3.drive
          h3#drive3
      .row.home
        .col-3.title
          h3 NEXT #1
        .col-3.color
          h3#col4
        .col-3.vin
          h3#num4
        .col-3.drive
          h3#drive4
      .row.home
        .col-3.title
          h3 CURRENT
        .col-3.color
          h3#col5
        .col-3.vin
          h1#num5
        .col-3.drive
          h3#drive5
      .row.home
        .col-3.title
          h3 LAST #1
        .col-3.color
          h3#col6
        .col-3.vin
          h3#num6
        .col-3.drive
          h3#drive6
      .row.home
        .col-3.title
          h3 LAST #2
        .col-3.color
          h3#col7
        .col-3.vin
          h3#num7
        .col-3.drive
          h3#drive7
      .row.home
        .col-3.title
          h3 LAST #3
        .col-3.color
          h3#col8
        .col-3.vin
          h3#num8
        .col-3.drive
          h3#drive8
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T')
    